<div class="container">
  <div class="form-row mt-4">
    <div class="col-4 offset-4">
      <div class="card">
        <!-- <div class="text-center mt-4">
          <small>Inicial con Facebook o Twiter (Proximamente)</small>
          <br>
          <span class="text-muted">-------  </span><strong>o</strong><span class="text-muted">  -------</span>             
        </div> -->
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group mb-2">          
              <%= f.email_field :email, autofocus: true, autocomplete: "email",
               placeholder: "Correo", class: "form-control input-lg" %>                  
            </div>
          
            <div class="form-group mb-2">         
              <%= f.password_field :password, autocomplete: "current-password",
               placeholder: "Contraseña", class: "form-control input-lg" %>
            </div>
          
            <% if devise_mapping.rememberable? %>
              <div class="form-group mb-2">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, "Recordar contraseña", class: "text-muted " %>
              </div>
            <% end %>
          
            <div class="actions">
              <%= f.submit "Iniciar sesión", class: "btn btn-success btn-block" %>

            </div>
          <% end %>
          <div class="text-center mt-2">
          <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>   
</div>


