<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">        
        <%= form_for (post) do |f| %>
        <% if post.errors.any? %>
          <div>
            <h5 class="alert alert-warning" role="alert"> Lo siguiente prohibe que este post sea guardado: </h5>            
            <ul>        
              <% post.errors.full_messages.each do |message| %>
              <li class="alert alert-danger" role="alert"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <h1>Publicar Post</h1>

          <div class="form-group">  
            <%= f.text_field :title, class: "form-control input-lg",
            placeholder: "Ingrese el titulo del Post"%>
          </div>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control input-lg",
            placeholder: "Ingrese el contenido del Post, mínimo 250 caracteres" %>
          </div>           
          <div>
            <%= f.submit "Publicar Post", class: "btn btn-primary btn-lg btn-block" %>
          </div>
      
      <% end %>
      
      
    </div>
  </div>
</div>



