<%= render 'index-main' %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8">
        <% if user_signed_in?%>
        <%= image_tag gravatar_url(current_user.email , 64), alt: "" %> 
          <div class="text-right">
            <h3><%= link_to  "Crear Post", new_post_path, class: "btn btn-primary" %></h3> 
          </div> 
        <%end%> 

        <!-- Posts -->
        <section id="post-index-section mb-4">
          <div class="container">
            <div class="row">
              <div class="col text-center ">
                <h2 class="text-uppercase">Artículos</h2>               
              </div>
            </div>
          </div>
          <% @posts.each do |post| %>
          <div class="row">
            <div class="col">
              <%= image_tag gravatar_url(post.user.email , 64), alt: "Image of post creator", class: "mx-auto d-block rounded-circle mt-4" %> 
              <div class="p-2">
                <div class="text-center text-uppercase font-italic font-weight-bold">
                  <span class="brand-blue"><%= post.user.username%> |</span>
                  <%= (post.created_at.strftime("%B #{post.created_at.day.ordinalize}, %Y") )%> |
                  <span class="brand-blue"> Comentarios <%= post.comments.count %></span>
                </div>     
              </div>
              <div>
                <h2 class="text-center"><%= link_to post.title, post, class: "brand-black h1"%></h2>
              </div>
              <br>
                <p>
                  <%if post.content.length > 250 %>
                  <%= truncate(post.content, length: 250) %>
                  <%= link_to "Leer más ...", post, class: "brand-blue" %>
                  <%else%>
                  <%= post.content %>
                  <%end%> 
                </p>
              <br>             
                <% if user_signed_in? && current_user.id == post.user_id %>
                <%= link_to "Editar", edit_post_path(post) %>
                <%= link_to 'Eliminar Post', post, method: :delete, data: { confirm: 'Esta seguro de eliminar el Post ?' } %>	
                <%end%> 
               <%end%>
            </div>
          </div>
        </section>
         <!-- Posts -->
    </div>
  </div>
</div>

<!-- Footer -->
<%= render "shared/footer"%>
<!-- /Footer --> 












 

