<div class="container">
  <div class="row justify-content-center">
    <div class="colum-sm-9">
        <%= image_tag gravatar_url(@post.user.email , 64), alt: "" %>
        <h1><%=@post.title %></h1>
        <p><%= @post.content%></p> 
        

        <% if user_signed_in? && current_user.id == @post.user_id %>        
        <%= link_to "Volver", posts_path %>
        <br>
        <%= link_to "Editar", edit_post_path %>
        <br>
        <%= link_to 'Eliminar Post', @post, method: :delete, data: { confirm: 'Esta seguro de eliminar el Post ?' } %> 
        <%end%>

        <div>
          <h2>Comentarios</h2>
           <% @post.comments.each do |comment| %>
            <div class="panel panel-default">
              <header class="panel-heading"> <%= comment.user.username %></header>
              <div class="panel-body"><%= comment.content %></div>
            </div>
          <% end %>

          <% if signed_in? %>
            <%= form_for [@post, @post.comments.build] do |f| %>
              <div class="form-group">
                <%= f.text_area :content, class: "form-control", placeholder: "Agregar comentario" %>
              </div>

              <div class="actions text-right">
                <%= f.submit "Comentar", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
        </div>

    
    </div>        
  </div>
</div>






