<h1><%=@post.title %></h1>
<p><%= @post.content%></p>


<%= link_to "Volver", posts_path %>
<br>
<%= link_to "Editar", edit_post_path %>
<br>
<%= link_to 'Eliminar Post', @post, method: :delete, data: { confirm: 'Esta seguro de eliminar el Post ?' } %>


