<!DOCTYPE html>
<html>
  <head>
    <title>Superblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if flash[:notice]%>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in?%>
      <div>
        <%= link_to  "Salir", destroy_user_session_path, method: :delete %>
      </div>
      <% else%>
      <div>
          <%= link_to  "Iniciar", new_user_session_path %>
      </div>
    <% end%>

  

    <%= yield %>

  </body>
</html>
