<!DOCTYPE html>
<html>
  <head>
    <title>Superblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% flash.each do |key, value| %>
      <div class="alerta">
       <div class="<%= flash_class(key) %>">
         <%= value %>
       </div>
       <% end %>
      </div>
 

    <% if user_signed_in?%>
      <div>
        <%= link_to  "Salir", destroy_user_session_path, method: :delete %>
      </div>
      <% else%>
      <div>
          <%= link_to  "Iniciar", new_user_session_path %>
      </div>
    <% end%>  

    <%= yield %>

    <script>
        $(".alert").fadeIn(500).css("opacity", "0.85").delay(6000).slideUp(1000);
        $(".alerta").on('click', '.alert', function () { $(this).remove() })
      </script>
   

  </body>
</html>
